html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
}

.hero {
  min-height: 100vh;
  background-color: black;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 30px;
}

.heroContent {
  padding: 60px 30px;
}
